@model Setting
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_LayoutMain.cshtml";
}


<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Add new item</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- form -->
            <div class="col-12">
                <form asp-area="admin" asp-controller="setting" asp-action="create" class="form" method="post" enctype="multipart/form-data">
                    <div class="row row--form">
                        <div class="col-12 col-md-5 form__cover">
                            <div class="row row--form">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="form__img">
                                        <label for="form__img-upload">Upload cover(270 x 400)</label>
                                        <input id="form__img-upload" asp-for="@Model.LogoFile" accept=".png, .jpg, .jpeg">
                                        <img id="form__img" src="" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 form__content">
                            <div class="row row--form">

                                <div class="col-12">
                                    <input asp-for="@Model.Email" class="form__input" placeholder="Email">
                                    <span asp-validation-for="@Model.Email" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <input asp-for="@Model.Address" class="form__input" placeholder="Address">
                                    <span asp-validation-for="@Model.Address" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-9">
                                    <input asp-for="@Model.Phone" class="form__input" placeholder="Phone">
                                    <span asp-validation-for="@Model.Phone" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                                <div class="col-12">
                                    <textarea id="text" asp-for="@Model.About" class="form__textarea" placeholder="About"></textarea>
                                    <span asp-validation-for="@Model.About" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>


                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <button type="submit" class="form__btn">publish</button>
                        </div>
                        <div class="col-12 col-lg-6" style="text-align: end;">
                            <a asp-area="admin" asp-controller="setting" asp-action="Index" type="submit" class="form__btn" style="display: inline-block; line-height: 40px; text-align:center;">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>
