@model Setting 
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Card-->
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header">
                        <h3 class="card-title">Create</h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="form" method="post" asp-area="admin" asp-controller="Setting" asp-action="Create" enctype="multipart/form-data">
                        <div class="card-body">

                            <div class="form-group row">
                                <div class="col-lg-6 mb-2">
                                    <label asp-for="@Model.LogoFile">Logo:</label>
                                </div>
                                <div class="col-12">
                                    <div class="image-input image-input-empty image-input-outline" id="kt_user_edit_avatar" style="background-image:  url(~/Area/media/users/blank.png);">
                                        <div class="image-input-wrapper">
                                        </div>
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input asp-for="@Model.LogoFile" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                                        </span>
                                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"style="display:block;" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label asp-for="@Model.Email">Email:</label>
                                    <input asp-for="@Model.Email" class="form-control" placeholder="Enter contact email"  />
                                    <span asp-validation-for="@Model.Email" class="form-text text-danger"></span>
                                </div>
                                <div class="col-lg-6">
                                    <label asp-for="@Model.Phone">Phone:</label>
                                    <div class="input-group">
                                        <input asp-for="@Model.Phone" class="form-control" placeholder="Enter your phone" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-bookmark-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="form-text text-danger" asp-validation-for="@Model.Phone"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label asp-for="@Model.Address">Address:</label>
                                    <div class="input-group">
                                        <input asp-for="@Model.Address" class="form-control" placeholder="Enter your address"  />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-map-marker"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="form-text text-danger" asp-validation-for="@Model.Address"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label asp-for="@Model.About">About:</label>
                                    <div class="input-group">
                                        <textarea asp-for="@Model.About" rows="5" class="form-control" placeholder="Enter your about" ></textarea>
                                    </div>
                                    <span class="form-text text-danger" asp-validation-for="@Model.About"></span>
                                </div>
                            </div>
                            <!-- begin: Example Code-->
                            <div class="example-code mt-10">
                                <ul class="example-nav nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-2x">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#example_code_html">HTML</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="example_code_html" role="tabpanel">
                                        <div class="example-highlight">
                                            <pre style="height:400px">
                                            <code class="language-html">
                                                            &lt;form class="form"&gt;
                                                             &lt;div class="card-body"&gt;
                                                              &lt;div class="form-group row"&gt;
                                                               &lt;div class="col-lg-6"&gt;
                                                                &lt;label&gt;Full Name:&lt;/label&gt;
                                                                &lt;input type="email" class="form-control" placeholder="Enter full name"/&gt;
                                                                &lt;span class="form-text text-muted"&gt;Please enter your full name&lt;/span&gt;
                                                               &lt;/div&gt;
                                                               &lt;div class="col-lg-6"&gt;
                                                                &lt;label&gt;Contact Number:&lt;/label&gt;
                                                                &lt;input type="email" class="form-control" placeholder="Enter contact number"/&gt;
                                                                &lt;span class="form-text text-muted"&gt;Please enter your contact number&lt;/span&gt;
                                                               &lt;/div&gt;
                                                              &lt;/div&gt;
                                                              &lt;div class="form-group row"&gt;
                                                               &lt;div class="col-lg-6"&gt;
                                                                &lt;label&gt;Address:&lt;/label&gt;
                                                                &lt;div class="input-group"&gt;
                                                                 &lt;input type="text" class="form-control" placeholder="Enter your address"/&gt;
                                                                 &lt;div class="input-group-append"&gt;&lt;span class="input-group-text"&gt;&lt;i class="la la-map-marker"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/div&gt;
                                                                &lt;/div&gt;
                                                                &lt;span class="form-text text-muted"&gt;Please enter your address&lt;/span&gt;
                                                               &lt;/div&gt;
                                                               &lt;div class="col-lg-6"&gt;
                                                                &lt;label&gt;Postcode:&lt;/label&gt;
                                                                &lt;div class="input-group"&gt;
                                                                 &lt;input type="text" class="form-control" placeholder="Enter your postcode"/&gt;
                                                                 &lt;div class="input-group-append"&gt;&lt;span class="input-group-text"&gt;&lt;i class="la la-bookmark-o"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/div&gt;
                                                                &lt;/div&gt;
                                                                &lt;span class="form-text text-muted"&gt;Please enter your postcode&lt;/span&gt;
                                                               &lt;/div&gt;
                                                              &lt;/div&gt;
                                                              &lt;div class="form-group row"&gt;
                                                               &lt;div class="col-lg-6"&gt;
                                                                &lt;label&gt;User Group:&lt;/label&gt;
                                                                &lt;div class="radio-inline"&gt;
                                                                 &lt;label class="radio radio-solid"&gt;
                                                                  &lt;input type="radio" name="example_2" checked="checked" value="2"/&gt;
                                                                  &lt;span&gt;&lt;/span&gt;
                                                                  Sales Person
                                                                 &lt;/label&gt;
                                                                 &lt;label class="radio radio-solid"&gt;
                                                                  &lt;input type="radio" name="example_2" value="2"/&gt;
                                                                  &lt;span&gt;&lt;/span&gt;
                                                                  Customer
                                                                 &lt;/label&gt;
                                                                &lt;/div&gt;
                                                                &lt;span class="form-text text-muted"&gt;Please select user group&lt;/span&gt;
                                                               &lt;/div&gt;
                                                              &lt;/div&gt;
                                                             &lt;/div&gt;
                                                             &lt;div class="card-footer"&gt;
                                                              &lt;div class="row"&gt;
                                                               &lt;div class="col-lg-6"&gt;
                                                                &lt;button type="submit" class="btn btn-primary mr-2"&gt;Save&lt;/button&gt;
                                                                &lt;button type="submit" class="btn btn-secondary"&gt;Cancel&lt;/button&gt;
                                                               &lt;/div&gt;
                                                               &lt;div class="col-lg-6 text-lg-right"&gt;
                                                                &lt;button type="reset" class="btn btn-danger"&gt;Reset&lt;/button&gt;
                                                               &lt;/div&gt;
                                                              &lt;/div&gt;
                                                             &lt;/div&gt;
                                                            &lt;/form&gt;
                                                            </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end: Example Code-->
                        </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="submit" class="btn btn-primary mr-2">Save</button>
                                        <button type="submit" class="btn btn-secondary" asp-area="admin" asp-controller="Setting" asp-action="Index">Cancel</button>
                                    </div>
                                    <div class="col-lg-6 text-lg-right">
                                        <button type="reset" class="btn btn-danger">Reset</button>
                                    </div>
                                </div>
                            </div>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Card-->
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>

