@model Blog
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_LayoutMain.cshtml";
}


<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="main__title">
                    <h2>Add new item</h2>
                </div>
            </div>
            <div class="col-12">
                <form asp-area="admin" asp-controller="blog" asp-action="create" class="form" method="post" enctype="multipart/form-data">
                    <div class="row row--form">
                        <div class="col-12 col-md-5 form__cover">
                            <div class="row row--form">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="form__img">
                                        <label for="form__img-upload">Upload cover(270 x 400)</label>
                                        <input id="form__img-upload" asp-for="@Model.ImageFile" accept=".png, .jpg, .jpeg">
                                        <img id="form__img" src="" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 form__content">
                            <div class="row row--form">

                                <div class="col-12">
                                    <input asp-for="@Model.Title" class="form__input" placeholder="Title">
                                    <span asp-validation-for="@Model.Title" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-9">
                                    <input asp-for="@Model.CreatedDate" class="form__input" placeholder="CreatedDate">
                                    <span asp-validation-for="@Model.CreatedDate" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                                <div class="col-12">
                                    <textarea id="text" asp-for="@Model.Description" class="form__textarea ckeditor" placeholder="Description"></textarea>
                                    <span asp-validation-for="@Model.Description" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                                <div class="col-12">
                                    <div class="form-group row ">
                                        <label asp-for="@Model.TagId" class="selectTag col-3" style="color: #d1d0d0; font-size: 20px; line-height: 40px; ">Select blog tag:</label>
                                        <div class="col-9">
                                            <select class="js-example-basic-single" multiple="multiple" asp-for="@Model.TagId">
                                                @foreach (var tag in ViewBag.Tags)
                                                {
                                                    <option value="@tag.Id">@tag.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <button type="submit" class="form__btn">publish</button>
                        </div>
                        <div class="col-12 col-lg-6" style="text-align: end;">
                            <a asp-area="admin" asp-controller="blog" asp-action="Index" type="submit" class="form__btn" style="display: inline-block; line-height: 40px; text-align:center;">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
