@model List<Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutMain.cshtml";
}
@inject AppDbContext _context
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Contact</h2>

                    <span class="main__title-stat">@(_context.Contacts.ToList().Count) Total</span>

                    <div class="main__title-wrap">
                        <!-- filter sort -->
                        <div class="filter" id="filter__sort">
                            <span class="filter__item-label">Sort by:</span>

                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="Date created">
                                <span></span>
                            </div>

                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                                <li>Date created</li>
                                <li>Rating</li>
                                <li>Views</li>
                            </ul>
                        </div>
                        <!-- end filter sort -->
                        <!-- search -->
                        <form action="#" class="main__title-form">
                            <input type="text" placeholder="Find movie / tv series..">
                            <button type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>
                        </form>
                        <!-- end search -->
                    </div>
                </div>
            </div>
            <!-- end main title -->
            <!-- users -->
            <div class="col-12">
                <div class="main__table-wrap">
                    <table class="main__table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>EMAIL</th>
                                <th>SUBJECT</th>
                                <th>PHONE</th>
                                <th>TEXT</th>
                                <th>CREATED DATE</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                int i = 1;
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>
                                            <div class="main__table-text">@i</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text"><a href="#">@item.Name</a></div>
                                        </td>
                                        <td>
                                            <div class="main__table-text main__table-text--rate">@item.Email</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">@item.Subject</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">@item.Phone</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text main__table-text--green">@(item.Text.Length > 150 ? item.Text.Substring(0,150) + " ..." : item.Text)</div>
                                        </td>
                                        <td>
                                            <div class="main__table-text">@item.CreatedDate.ToString("dd MMM yyyy")</div>
                                        </td>
                                        <td>
                                            <div class="main__table-btns">
                                                <a asp-area="admin" asp-controller="contact" asp-action="delete" asp-route-id="@item.Id" class="main__table-btn main__table-btn--delete delete">
                                                    <i class="icon ion-ios-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    i++;
                                }}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end users -->
            <!-- paginator -->
            <div class="col-12">
                <div class="paginator-wrap">
                    <span>@(_context.Contacts.ToList().Count > 10 ? "10" : _context.Contacts.ToList().Count) from @(_context.Contacts.ToList().Count)</span>

                    @if (Model.Count >= 10)
                    {
                        <ul class="paginator">
                            <li class="paginator__item paginator__item--prev">
                                <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
                            </li>
                            <li class="paginator__item"><a href="#">1</a></li>
                            <li class="paginator__item paginator__item--active"><a href="#">2</a></li>
                            <li class="paginator__item"><a href="#">3</a></li>
                            <li class="paginator__item"><a href="#">4</a></li>
                            <li class="paginator__item paginator__item--next">
                                <a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
            <!-- end paginator -->
        </div>
    </div>
</main>
<!-- end main content -->
<!-- modal status -->
<div id="modal-status" class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Status change</h6>

    <p class="modal__text">Are you sure about immediately change status?</p>

    <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Apply</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>
<!-- end modal status -->
<!-- modal delete -->
<div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Item delete</h6>

    <p class="modal__text">Are you sure to permanently delete this item?</p>

    <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Delete</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>

@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $('.delete').on('click', function (e) {
            e.preventDefault();
            let url = $(this).attr('href');
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        fetch(url).then(response => response.json()).then(data => {
                            if (data.code == 204) {
                                swal(data.message, {
                                    icon: "success",
                                });
                                window.location.reload();
                            } else {
                                swal(data.message, {
                                    icon: "error",
                                });
                            }
                        })
                    } else {
                        swal("Item wasn't deleted", { icon: "error" });
                    }
                });
        })</script>
}