@model VmBlog
@{
    ViewData["Title"] = "Detail";
}

<main id="news__blog">
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>BLOG DETAIL</h1>
                    <div class="bread"
                         style="--bs-breadcrumb-divider: '>'"
                         aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#" style="color: #428bca">HOMEPAGE</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @Model.Blog.Title
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog__detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="blog__about">
                        <h2>
                            @Model.Blog.Title
                        </h2>
                        <span>@Model.Blog.CreatedDate.ToString("MMMM dd, yyyy")</span>
                        <div class="blog__about__image">
                            <img src="~/Uploads/@Model.Blog.Image" alt="no image" style="width:930px;height:524px;" />
                        </div>
                        @Html.Raw(Model.Blog.Description)
                        <div class="blog__tags">
                            <ul>
                                @{
                                    for (int b = 0; b < Model.Blog.BlogToTags.Count; b++)
                                    {
                                        <li><a href="#">@(Model.Blog.BlogToTags[b].Tag.Name + (Model.Blog.BlogToTags.Count - 1 > b ? ",":""))</a></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="consult__comment__related">
                            <div class="wrapped__comment__form">
                                <div class="consult__title">
                                    <h3>Comments (@Model.BlogComments.Count)</h3>
                                </div>
                                @{
                                    int o = 0;
                                    @foreach (var item in Model.BlogComments)
                                    {
                                        if (item.ParentComment == null)
                                        {
                                            <div class="consult__comments">
                                                <div class="comment__user__image">
                                                    <img src="~/assets/images/commentAvatar.png" alt="" />
                                                </div>
                                                <div class="comment__content">
                                                    <div class="comment__date">
                                                        <h6 class="author__name">@item.Name</h6>
                                                        <p>@item.CreatedDate.ToString("dd MMM yyyy")</p>
                                                    </div>
                                                    <div class="comment__text">
                                                        <p>@item.Text</p>
                                                    </div>
                                                    <div class="comment__reply">
                                                        <a data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#exampleModal@(+o)" @*class="replyComment"*@>
                                                            + Reply
                                                            @*<input type="hidden" id="replyCommentId" value="@item.Id" />*@
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            if (Model.ReplyComments != null)
                                            {
                                                @foreach (var item2 in Model.ReplyComments)
                                                {
                                                    if (item2.ParentCommentId == item.Id)
                                                    {
                                                        <div class="consult__comments" style="padding-left:100px;">
                                                            <div class="comment__user__image">
                                                                <img src="~/assets/images/commentAvatar.png" alt="" />
                                                            </div>
                                                            <div class="comment__content">
                                                                <div class="comment__date">
                                                                    <h6 class="author__name">@item2.Name</h6>
                                                                    <p>@item2.CreatedDate.ToString("dd MMM yyyy")</p>
                                                                </div>
                                                                <div class="comment__text">
                                                                    <p>@item2.Text</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                            <h3 class="cancel_reply">
                                                Leave a comment
                                                <small>
                                                    <a href="#" class="cancelReply">
                                                        Cancel reply
                                                    </a>
                                                </small>
                                            </h3>
                                        }

                                        <div class="modal fade" id="exampleModal@(+ o)" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                                <div class="modal-content" style="background-color: #0c2238; border: 1px solid #3e3e7e;">
                                                    <form class="p-4" asp-controller="Blog" asp-action="Reply">
                                                        <div class="form_email_name" style="margin-bottom:0;">
                                                            <div class="form__control">
                                                                <label asp-for="@Model.BlogComment.Name">Your Name</label>
                                                                <input asp-for="@Model.BlogComment.Name" required style="background-color:#405266;margin-top:0;"/>
                                                                <span asp-validation-for="@Model.BlogComment.Name" class="text-danger"></span>
                                                            </div>
                                                            <div class="form__control">
                                                                <label asp-for="@Model.BlogComment.Email">Your E-mail</label>
                                                                <input asp-for="@Model.BlogComment.Email" required type="email" style="background-color: #405266; margin-top: 0;"/>
                                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                                <span asp-validation-for="@Model.BlogComment.Email" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label asp-for="@Model.BlogComment.Text" style="color: #abb7c4; margin-bottom: 15px;">Enter message</label>
                                                            <textarea class="form-control" asp-for="@Model.BlogComment.Text" style="border: 1px solid #405266; background-color: #405266; color: #abb7c4; " rows="3"></textarea>
                                                        </div>

                                                        <input type="hidden" asp-for="@Model.BlogComment.BlogId" value="@Model.Blog.Id" />
                                                        <input type="hidden" asp-for="@Model.BlogComment.ParentCommentId" value="@item.Id" />
                                                        <button type="submit" class="mt-3 btn btn-primary">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        o++;

                                    }
                                }

                                <form asp-action="Comment" asp-controller="Blog">
                                    <div class="form__control">
                                        <label for="text">Comment</label>
                                        <textarea asp-for="@Model.BlogComment.Text"
                                                  rows="10"
                                                  required></textarea>
                                        <span asp-validation-for="@Model.BlogComment.Text" class="text-danger"></span>
                                    </div>
                                    <div class="form_email_name">
                                        <div class="form__control">
                                            <label asp-for="@Model.BlogComment.Name">Your Name</label>
                                            <input asp-for="@Model.BlogComment.Name" required />
                                            <span asp-validation-for="@Model.BlogComment.Name" class="text-danger"></span>
                                        </div>
                                        <div class="form__control">
                                            <label asp-for="@Model.BlogComment.Email">Your E-mail</label>
                                            <input asp-for="@Model.BlogComment.Email" required type="email" />
                                            <span asp-validation-for="@Model.BlogComment.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="@Model.BlogComment.BlogId" value="@Model.Blog.Id" />
                                    <input type="hidden" asp-for="@Model.BlogComment.ParentCommentId" value="" />

                                    <button type="submit" class="custom-btn">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="right-sidebar">
                        <div class="search">
                            <h4>SEARCH</h4>
                            <form action="">
                                <input type="text" placeholder="Enter Keyword" name="searchBlog" />
                            </form>
                        </div>
                        <div class="categories">
                            <h4>MOST POPULAR</h4>
                            <ul>
                                @{
                                    int p = 1;
                                    @foreach (var item in Model.PopularBlogs)
                                    {
                                        <li>
                                            <span>0@(p)</span>
                                            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                                                @item.Title
                                            </a>
                                        </li>
                                        p++;
                                    }
                                }
                            </ul>
                        </div>
                        <div class="tags">
                            <h4>TAGS</h4>
                            <div class="tag-list">
                                <ul>
                                    @{
                                        for (int t = 0; t < Model.Tags.Count; t++)
                                        {
                                            <li><a href="#">@Model.Tags[t].Name</a></li>

                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>






@*<a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>*@
@section ModalScript{
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
}