@model VmBlog
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>BLOG LIST</h1>
                    <div class="bread"
                         style="--bs-breadcrumb-divider: '>'"
                         aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index" style="color: #428bca">HOMEPAGE</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                BLOG
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="blog__list">
                        @{
                            foreach (var item in Model.Blogs)
                            {
                                <div class="blog__about">
                                    <div class="blog__about__image">
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/Uploads/@item.Image" alt="no image" style="width:260px;height:146px;" />
                                        </a>
                                    </div>
                                    <div class="blog__about__content">
                                        <h2>
                                            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                                                @item.Title
                                            </a>
                                        </h2>
                                        <div class="posted_date">
                                            <p>@item.CreatedDate.ToString("MMMM dd, yyyy")</p>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Joss Whedon has a little bit of a history with superhero
                                                movies, and for creating layered female characters.
                                                After his documented frustrations with Wonder Woman,
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="blog__pagination">
                        <ul>
                            <li class="page-item @(ViewBag.PageField==1?"disabled":"")">
                                <a asp-controller="blog" asp-action="index" asp-route-page="@(ViewBag.PageField-1)"><i class="fa fa-chevron-left"></i></a>
                            </li>
                            @for (int i = 0; i < ViewBag.PageCount; i++)
                            {
                                <li><a class="@(ViewBag.PageField == (i+1)? "active":"")" asp-controller="blog" asp-action="index" asp-route-page="@(i+1)">@(i+1)</a></li>
                            }
                        <li class="page-item " style="display:@(ViewBag.PageField==ViewBag.PageCount?"none":"");">
                            <a asp-controller="blog" asp-action="index" asp-route-page="@(ViewBag.PageField+1)"><i class="fa fa-chevron-right"></i></a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="right-sidebar">
                        <div class="search">
                            <h4>SEARCH</h4>
                            <form asp-controller="Blog" asp-action="Index" method="get">
                                <input type="text" name="searchBlog" placeholder="Enter Keyword" required />
                            </form>
                        </div>
                        <div class="categories">
                            <h4>MOST POPULAR</h4>
                            <ul>
                                @{ 
                                    int p = 1;
                                    @foreach (var item in Model.PopularBlogs)
                                    {
                                        <li>
                                            <span>0@(p)</span>
                                            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                                                @item.Title
                                            </a>
                                        </li>
                                        p++;
                                    }
                                }
                            </ul>
                        </div>
                        <div class="tags">
                            <h4>TAGS</h4>
                            <div class="tag-list">
                                <ul>
                                    <li><a href="#">Batman</a></li>
                                    <li><a href="#">Beauty</a></li>
                                    <li><a href="#">Film</a></li>
                                    <li><a href="#">King</a></li>
                                    <li><a href="#">Poster</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

