@model VmRegister
@{
    Layout = "~/Areas/admin/Views/Shared/_LayoutMain.cshtml";
}

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Add new user</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- form -->
            <div class="col-12">
                <form asp-area="admin" asp-controller="account" asp-action="register" class="form" method="post" enctype="multipart/form-data">
                    <div class="row row--form">
                        <div class="col-12 col-md-7 form__content">
                            <div class="row row--form">

                                <div class="col-6">
                                    <input asp-for="@Model.FirstName" class="form__input" placeholder="First name">
                                    <span asp-validation-for="@Model.FirstName" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>
                                <div class="col-6">
                                    <input asp-for="@Model.LastName" class="form__input" placeholder="Last name">
                                    <span asp-validation-for="@Model.FirstName" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>
                                <div class="col-12">
                                    <input asp-for="@Model.Email" class="form__input" placeholder="Email">
                                    <span asp-validation-for="@Model.Email" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>
                                <div class="col-6">
                                    <input asp-for="@Model.Password" class="form__input" placeholder="Password">
                                    <span asp-validation-for="@Model.Password" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <select class="js-example-basic-single" id="quality" asp-for="@Model.RoleId">
                                        <option disabled selected>Choose Role</option>
                                        @foreach (var item in ViewBag.Roles)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <button type="submit" class="form__btn">publish</button>
                        </div>
                        <div class="col-12 col-lg-6" style="text-align: end;">
                            <a asp-area="admin" asp-controller="account" asp-action="users" type="submit" class="form__btn" style="display: inline-block; line-height: 40px; text-align:center;">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>
