@model CustomUser
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Areas/admin/Views/Shared/_LayoutMain.cshtml";
}

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Update item</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- form -->
            <div class="col-12">
                <form asp-area="admin" asp-controller="account" asp-action="updateuser" class="form" method="post">
                    <div class="row row--form">
                        <div class="col-12 col-md-7 form__content">
                            <div class="row row--form">
                                <div class="col-12">
                                    <input asp-for="@Model.Email" class="form__input" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <select class="js-example-basic-single"  asp-for="@Model.RoleId">
                                <option disabled selected>Select role</option>
                                @foreach (var item in ViewBag.Roles)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.RoleId"></span>
                        </div>

                        <div class="col-12 col-lg-6">
                            <button type="submit" class="form__btn">publish</button>
                        </div>
                        <div class="col-12 col-lg-6" style="text-align: end;">
                            <a asp-area="admin" asp-controller="account" asp-action="users" type="submit" class="form__btn" style="display: inline-block; line-height: 40px; text-align:center;">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>
