@model Cast
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_LayoutMain.cshtml";
}


<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Update item</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- form -->
            <div class="col-12">
                <form asp-area="admin" asp-controller="cast" asp-action="Update" class="form" method="post" enctype="multipart/form-data">
                    <div class="row row--form">
                        <div class="col-12 col-md-5 form__cover">
                            <div class="row row--form">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="form__img">
                                        <label for="form__img-upload">@(Model.base64 == null ? "Upload cover(270 x 400)" : "")</label>
                                        <input id="form__img-upload" asp-for="@Model.ImageFile" accept=".png, .jpg, .jpeg">
                                        <img id="form__img" src="data:image/jpeg;base64,@Model.base64" alt=" ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 form__content">
                            <div class="row row--form">
                                <div class="col-12">
                                    <label asp-for="@Model.Name" style="color: #d1d0d0;">Name:</label>
                                    <input asp-for="@Model.Name" class="form__input" placeholder="Name">
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label asp-for="@Model.BirthDay" style="color: #d1d0d0;">BirthDay:</label>
                                    <input asp-for="@Model.BirthDay" class="form__input" placeholder="BirthDay">
                                </div>
                                <div class="col-12 col-sm-6 col-lg-9">
                                    <label asp-for="@Model.BirthPlace" style="color: #d1d0d0;">BirthPlace:</label>
                                    <input asp-for="@Model.BirthPlace" class="form__input" placeholder="BirthPlace">
                                </div>
                                <div class="col-12">
                                    <label asp-for="@Model.About" style="color: #d1d0d0; font-size: 20px; line-height: 40px; ">About:</label>
                                    <textarea id="text" asp-for="@Model.About" class="form__textarea" placeholder="About"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <button type="submit" class="form__btn">publish</button>
                        </div>
                        <div class="col-12 col-lg-6" style="text-align: end;">
                            <a asp-area="admin" asp-controller="cast" asp-action="Index" type="submit" class="form__btn" style="display: inline-block; line-height: 40px; text-align:center;">Cancel</a>
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.Image" />
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>
