@model VmMovie
@{
    ViewData["Title"] = "Index";
}

<main id="movies">
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>MOVIE LIST</h1>
                    <div class="bread"
                         style="--bs-breadcrumb-divider: '>'"
                         aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index" style="color: #428bca">HOMEPAGE</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                MOVIE LIST
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="movies-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="topbar-filters">
                        <div class="result-count">
                            <span>Found @Model.Movies.Count movies in total</span>
                        </div>
                        <div class="sorted-by">
                            <span>Sort by:</span>
                            <form asp-controller="Movie" asp-action="Index">
                                <select name="TitleOrRating" id="TitleOrRating">
                                    <option value="0">Default</option>
                                    <option value="1">Title</option>
                                    <option value="2">Rating</option>
                                </select>
                                <i class="fas fa-chevron-down" style="right: 100px;"></i>
                                <button type="submit" style="border: 1px solid transparent; color: #abb7c4; font-size: 15px; padding: 0.375rem 0.75rem; background-color: #020d18; padding: 0.45rem 0.95rem; ">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="movies-abouts">
                        @foreach (var item in Model.Movies)
                        {
                            <div class="movie__about">
                                <div class="movie__about__image">
                                    <a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id">
                                        <img src="~/Uploads/@item.Image" alt="" />
                                    </a>
                                </div>
                                <div class="movie__about__info">
                                    <h6><a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h6>
                                    <div class="movie__about__desc">
                                            @Html.Raw(item.Description)
                                    </div>
                                    <div class="movie__details">
                                        <span>Run time: nullm</span><span>Tagline: @item.Tagline</span><span>Release: @item.CreatedDate.ToString("dd MMM yyyy")</span>
                                    </div>
                                    <p class="mv-director">
                                        Director: <span>@{foreach (var item1 in item.MovieToDirectors)
                                            {
                                                @item1.Director.Name
                                            }}</span>
                                    </p>
                                    <p class="mv-stars">Stars: <span>@{foreach (var item1 in item.MovieToCasts)
                                        {
                                            @(item1.Cast.Name + " ")
                                        }}</span></p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="bottombar-pagination">
                        <div class="result-count">
                            <span>Movies per page: 5 movies</span>
                        </div>
                        <div class="rightside-pagination">
                            <div class="pagination-text">
                                <span>Page 1 of 3:</span>
                            </div>
                            <div class="pagination-number">
                                <ul>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>
                                        <a href="#"><i class="fas fa-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div id="instagram-feed-demo" class="instagram_feed movie-page">
                        <h3 style="text-align: center; color: white; font-size: 36px; font-weight: 600; margin-bottom: 30px;">Instagram</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

