@model VmHome 

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section id="movie-list">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    @{
                        int bgColorCount = Model.BgColors.Count;
                        @foreach (var item in Model.MoviesDescOrder)
                        {
                            var sum = 0;
                            <div class="col-lg-3">
                                <div class="movie-card">
                                    <div class="image">
                                        <a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="~/Uploads/@item.Image"
                                                 alt=""  style="height: 430px; object-fit: cover;"/>
                                        </a>
                                        <span class="readmore-btn">
                                            READ MORE <i class="fas fa-caret-right"></i>
                                        </span>
                                    </div>
                                    <div class="movie-info">
                                        <ul>
                                            @for (int i = 0; i < item.MovieToGenres.Count; i++)
                                            {

                                                <li><a href="" style="background-color:@(bgColorCount > i ? Model.BgColors[i] : "#dd003f");">@item.MovieToGenres[i].Genre.Name</a></li>
                                            }
                                        </ul>
                                        <h6><a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id" style="font-weight:bold;">@item.Title</a></h6>
                                        <div class="vote">
                                            <p>
                                                @for (int i = 0; i < item.MovieComments.Count; i++)
                                                {
                                                    sum += item.MovieComments[i].Rating;
                                                }
                                                @(item.MovieComments.Count > 0 ? sum / item.MovieComments.Count : 0) / 10
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <section id="generes-celebrities" style="padding-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="movie-generes">
                        <div class="movie-G-header">
                            <h4>IN GENERES</h4>
                            <p>View all</p>
                        </div>
                        <div class="movie-G-List">
                            <ul>
                                @{
                                    <li><a class="active" asp-controller="Home" asp-action="Index" asp-route-allGenre="all" >#All</a></li>
                                    foreach (var item in Model.Genres)
                                    {
                                        <li><a asp-controller="Home" asp-action="Index" asp-route-GenreId="@item.Id">#@item.Name</a></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="movies-G">
                            @{
                                foreach (var item in Model.Movies)
                                {
                                    var sum = 0;
                                    <div class="movies-G-card">
                                        <div class="image">
                                            <a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id" style="position: relative;">
                                                <img src="~/Uploads/@item.Image"
                                                        alt="" style="width: 200px; object-fit: cover;"/>

                                                <span class="movie-G-readmore-btn">
                                                    READ MORE <i class="fas fa-caret-right"></i>
                                                </span>
                                                <div class="movies-G-info">
                                                    <h6><a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h6>
                                                    <div class="movies-G-vote">
                                                        <p>
                                                            @for (int i = 0; i < item.MovieComments.Count; i++)
                                                            {
                                                                sum += item.MovieComments[i].Rating;
                                                            }
                                                            @(item.MovieComments.Count > 0 ? sum / item.MovieComments.Count : 0) / 10
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="movie-pagination">
                            <ul>
                                <li style="display:@(ViewBag.PageField==1?"none":"");margin-right: 10px;"><a asp-controller="home" asp-action="index" asp-route-page="@(ViewBag.PageField-1)">Prev</a></li>
                                @for (int i = 0; i < ViewBag.PageCount; i++)
                                {
                                    <li style="margin: 0 10px;"><a class="@(ViewBag.PageField == (i+1)? "active":"")" asp-controller="home" asp-action="index" asp-route-page="@(i+1)">@(i+1)</a></li>
                                }
                                <li style="display:@(ViewBag.PageField==ViewBag.PageCount?"none":"");margin: 0 10px;"><a asp-controller="home" asp-action="index" asp-route-page="@(ViewBag.PageField+1)">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="theater">
                        <div class="theater-header">
                            <h2>In theater</h2>
                        </div>
                        <div class="youtube-iframe">
                            <iframe style="max-width: 100%;" title="Trailer My Dear Loser รักไม่เอาถ่าน ตอน Edge of 17"
                                    width="870"
                                    height="491"
                                    src="https://www.youtube.com/embed/0ZYUDwkIEc4?feature=oembed"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>

                        </div>
                    </div>
                    <div class="latest-news">
                        <div class="latest-news-header">
                            <h2>LATEST NEWS</h2>
                        </div>

                       @{ 
                            <div class="latest-news-movie">
                                <div class="latest-news-movie-image">
                                    <a asp-controller="Blog" asp-action="Detail" asp-route-id="@Model.Blog.Id">
                                        <img src="~/Uploads/@Model.Blog.Image"
                                            alt="" />
                                    </a>
                                </div>
                                <div class="latest-news-movie-info">
                                    <h2>
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@Model.Blog.Id">
                                           @Model.Blog.Title
                                        </a>
                                    </h2>
                                    <p>
                                        @if (((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds / 60 / 60 / 24 / 30 / 12) >= 1)
                                        {
                                            @((((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds / 60 / 60 / 24 / 30 / 12).ToString("##") + " year ago").ToString());
                                        }
                                        else
                                        {
                                            @if (((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds / 60 / 60 / 24 / 30) >= 1)
                                            {
                                                @((((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds / 60 / 60 / 24 / 30).ToString("##") + " month ago").ToString());
                                            }
                                            else
                                            {
                                                if (((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds / 60 / 60 / 24) >= 1)
                                                {
                                                    @((((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds / 60 / 60 / 24).ToString("##") + " day ago").ToString());
                                                }
                                                else
                                                {
                                                    if (((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds / 60 / 60) >= 1)
                                                    {
                                                        @((((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds / 60/60).ToString("##") + " hour ago").ToString());
                                                    }
                                                    else
                                                    {
                                                        @if (((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds / 60) >= 1)
                                                        {
                                                            @((((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds / 60).ToString("##") + " minutes ago").ToString());
                                                        }
                                                        else
                                                        {
                                                            @((((DateTime.Now - @Model.Blog.CreatedDate).TotalSeconds).ToString("##") + " seconds ago").ToString());
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </p>
                                    <div class="description">
                                        @Html.Raw(Model.Blog.Description.Length > 120 ? Model.Blog.Description.Substring(0,120) +" ...": Model.Blog.Description)
                                    </div>
                                </div>
                            </div>
                       }

                        <div class="see-all-movies-news">
                            <div class="see-all-movies-news-header">
                                <div class="row">
                                    <div class="col-lg-8 col-md-6 col-sm-6">
                                        <div class="blockbuster-leftside-header">
                                            <h3>More news on Blockbuster</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="blockbuster-rightside-header">
                                            <p>SEE ALL MOVIES NEWS</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="movies-news-list">
                                <div class="row">
                                    @foreach (var item in Model.Blogs)
                                    {
                                        <div class="col-lg-6 col-md-12">
                                            <div class="news-item">
                                                <h2>
                                                    <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                                                        @item.Title
                                                    </a>
                                                </h2>
                                                <p>
                                                    @if (((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60 / 24 / 30 / 12) >= 1)
                                                    {
                                                        @((((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60 / 24 / 30 / 12).ToString("##") + " year ago").ToString());
                                                    }
                                                    else
                                                    {
                                                        @if (((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60 / 24 / 30) >= 1)
                                                        {
                                                            @((((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60 / 24 / 30).ToString("##") + " month ago").ToString());
                                                        }
                                                        else
                                                        {
                                                            if (((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60 / 24) >= 1)
                                                            {
                                                                @((((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60 / 24).ToString("##") + " day ago").ToString());
                                                            }
                                                            else
                                                            {
                                                                if (((DateTime.Now - item.CreatedDate).TotalSeconds / 60 / 60) >= 1)
                                                                {
                                                                    @((((DateTime.Now - item.CreatedDate).TotalSeconds / 60/60).ToString("##") + " hour ago").ToString());
                                                                }
                                                                else
                                                                {
                                                                    @if (((DateTime.Now - item.CreatedDate).TotalSeconds / 60) >= 1)
                                                                    {
                                                                        @((((DateTime.Now - item.CreatedDate).TotalSeconds / 60).ToString("##") + " minutes ago").ToString());
                                                                    }
                                                                    else
                                                                    {
                                                                        @((((DateTime.Now - item.CreatedDate).TotalSeconds).ToString("##") + " seconds ago").ToString());
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }

                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single__image__wrapper">
                        <div class="single__image">
                            <img width="336"
                                 height="296"
                                 src="~/assets/images/ads1.png"
                                 alt="" />
                        </div>
                    </div>
                    <div class="spotlight__celebrities">
                        <h4>SPOTLIGHT CELEBRITIES</h4>
                        @foreach (var item in Model.SpotlightCelebritie)
                        {
                            <div class="spotlight__celebritie">
                                <div class="spotlight__celebritie__image">
                                    <img src="~/Uploads/@(item.Image != null? item.Image :"")" alt="" />
                                </div>
                                <div class="spotlight__celebritie__info">
                                    <h6 class="spotlight__celebritie__name">
                                        <a asp-controller="celebritie" asp-action="detail" asp-route-id="@item.Id">@item.Name</a>
                                    </h6>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="instagram-feed-demo" class="instagram_feed">
                        <h3 style="padding-left:48px; color: white; font-size: 26px; font-weight: 600; margin-bottom: 20px;">Instagram</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
