@model VmCelebritie 
@{
    ViewData["Title"] = "Detail";
}

<div class="banner1-bg-img"></div>
<main>
    <section id="celebritieInfo">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="celebritie__detail__image">
                        <img src="~/Uploads/@Model.Cast.Image" alt="no image" style="width: 100%; object-fit: cover; object-position: 50% 50%; height: 450px; "/>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="celebritie__content">
                        <h2>@Model.Cast.Name</h2>
                        <div class="celebritie__tabs">
                            <div class="celebritie__tabs-title">
                                <ul>
                                    <li><a class="active" href="#">BIOGRAPHY</a></li>
                                    <li><a href="#">FILMOGRAPHY</a></li>
                                </ul>
                            </div>
                            <div class="celebritie__tabs-content">
                                <div class="biography show">
                                    <div class="row">
                                        <div class="col-lg-9 col-md-8">
                                            <div class="celebritie__tabs-content-left">
                                                <div class="subtitle">
                                                    <h6>Biography of</h6>
                                                    <h4>@Model.Cast.Name</h4>
                                                </div>
                                                <p>
                                                    @Model.Cast.About
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4">
                                            <div class="celebritie__tabs-content-right">
                                                <div class="overview__clb">
                                                    <h6>Date of Birth:</h6>
                                                    <p>@Model.Cast.BirthDay.ToString("dd/MM/yyyy")</p>
                                                </div>
                                                <div class="overview__clb">
                                                    <h6>Gender:</h6>
                                                    <p>@Model.Cast.Gender.Name</p>
                                                </div>
                                                <div class="overview__clb">
                                                    <h6>Country of Birth:</h6>
                                                    <p>
                                                        @Model.Cast.BirthPlace
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filmography">
                                    @foreach (var item in Model.PlayListMovie)
                                    {
                                        <div class="celebritie__film">
                                            <div class="celebritie__film__main">
                                                <div class="celebritie__film__img">
                                                    <img src="~/Uploads/@item.Image" alt="" height="60" width="80" class="img-fluid" />
                                                </div>
                                                <div class="celebritie__film__title">
                                                    <h4><a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h4>
                                                </div>
                                            </div>
                                            <div class="celebritie__createdDate">
                                                <p>@item.CreatedDate.ToString("yyyy-MM-dd")</p>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

