@model Movies
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_LayoutMain.cshtml";
}


<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Update movie</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- form -->
            <div class="col-12">
                <form asp-area="admin" asp-controller="movie" asp-action="update" class="form" method="post" enctype="multipart/form-data">
                    <div class="row row--form">
                        <div class="col-12 col-md-5 form__cover">
                            <div class="row row--form">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="form__img">
                                        <label for="form__img-upload">@(Model.ImageBase64 == null ? "Upload cover(270 x 400)" :"")</label>
                                        <input id="form__img-upload" asp-for="@Model.ImageFile" accept=".png, .jpg, .jpeg">
                                        <img id="form__img" src="data:image/jpeg;base64,@Model.ImageBase64" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 form__content">
                            <div class="row row--form">

                                <div class="col-12">
                                    <label asp-for="@Model.Title" style="color: #d1d0d0;">Title:</label>
                                    <input asp-for="@Model.Title" class="form__input" placeholder="Title">
                                    <span asp-validation-for="@Model.Title" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-6">
                                    <label asp-for="@Model.Tagline" style="color: #d1d0d0;">Tagline:</label>
                                    <input asp-for="@Model.Tagline" class="form__input" placeholder="Tagline">
                                    <span asp-validation-for="@Model.Tagline" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-6">
                                    <label asp-for="@Model.CreatedDate" style="color: #d1d0d0;">CreatedDate:</label>
                                    <input asp-for="@Model.CreatedDate" class="form__input" placeholder="Release date">
                                    <span asp-validation-for="@Model.CreatedDate" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="@Model.Description" style="color: #d1d0d0; font-size: 20px; line-height: 40px; ">Description:</label>
                                    <textarea asp-for="@Model.Description" class="form__textarea" placeholder="Description"></textarea>
                                    <span asp-validation-for="@Model.Description" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <label asp-for="@Model.Title" style="color: #d1d0d0;">Genre:</label>
                                    <select class="js-example-basic-single" multiple="multiple" asp-for="@Model.GenresIds">
                                        @foreach (var genre in ViewBag.Genres)
                                        {
                                            <option value="@genre.Id">@genre.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-12">
                                    <label asp-for="@Model.Title" style="color: #d1d0d0;">Writer:</label>
                                    <select class="js-example-basic-single" multiple="multiple" asp-for="@Model.WriterIds">
                                        @foreach (var writer in ViewBag.Writers)
                                        {
                                            <option value="@writer.Id">@writer.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-12">
                                    <label asp-for="@Model.Title" style="color: #d1d0d0;">Cast:</label>
                                    <select class="js-example-basic-single" multiple="multiple" asp-for="@Model.CastIds">
                                        @foreach (var cast in ViewBag.Casts)
                                        {
                                            <option value="@cast.Id">@cast.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-6">
                                    <label asp-for="@Model.Title" style="color: #d1d0d0;">Director:</label>
                                    <select class="js-example-basic-single" asp-for="@Model.DirectorId">
                                        @foreach (var director in ViewBag.Directors)
                                        {
                                            <option value="@director.Id">@director.Name</option>
                                        }
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row row--form">
                                <div class="col-12">
                                    <div class="form__video">
                                        <label id="movie1" for="form__video-upload">Upload video</label>
                                        <input data-name="#movie1" id="form__video-upload" class="form__video-upload" asp-for="@Model.VideoFile" accept="video/mp4,video/x-m4v,video/*">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row row--form">
                                <div class="col-12">
                                    <div class="form__video">
                                        <label id="movie2" for="form__video-upload1">Upload trailer</label>
                                        <input data-name="#movie2" id="form__video-upload1" class="form__video-upload" asp-for="@Model.TrailerFile" accept="video/mp4,video/x-m4v,video/*">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.Image" />
                        <input type="hidden" asp-for="@Model.Video" />
                        <input type="hidden" asp-for="@Model.Trailer" />


                        <div class="col-12 col-lg-6">
                            <button type="submit" class="form__btn">publish</button>
                        </div>
                        <div class="col-12 col-lg-6" style="text-align: end;">
                            <a asp-area="admin" asp-controller="movie" asp-action="Index" type="submit" class="form__btn" style="display: inline-block; line-height: 40px; text-align:center;">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>

