@model Movies
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <!--Begin::Header-->
            <div class="card-header card-header-tabs-line">
                <div class="card-toolbar">
                    <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x" role="tablist">
                        <li class="nav-item mr-3">
                            <a class="nav-link active" data-toggle="tab" href="#kt_apps_contacts_view_tab_2">
                                <span class="nav-icon mr-2">
                                    <span class="svg-icon mr-3">
                                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Communication/Chat-check.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z" fill="#000000" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </span>
                                <span class="nav-text font-weight-bold">Movie Update</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end::Header-->
            <!--Begin::Body-->
            <div class="card-body">
                <div class="tab-content pt-5">
                    <!--begin::Tab Content-->
                    <div class="tab-pane active" id="kt_apps_contacts_view_tab_2" role="tabpanel">
                        <form class="form" enctype="multipart/form-data" asp-area="admin" asp-controller="Movie" asp-action="update" method="post">
                            <!--begin::Heading-->
                            <div class="form-group row" style="text-align:center; padding-left:0;margin-right:20px;">
                                <div class="col-lg-9 col-xl-6 offset-xl-3">
                                    <h3 class="font-size-h6 mb-5">Movie Info:</h3>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <label asp-for="@Model.ImageFile">Image:</label>
                                </div>
                                <div class="col-12">
                                    <div class="image-input image-input-empty image-input-outline " id="kt_user_edit_avatar">
                                        <div class="image-input-wrapper bg-image-movie" style="background-image:url('data:image/png;base64,@Model.ImageBase64');">
                                        </div>
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input asp-for="@Model.ImageFile" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                                        </span>
                                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" style="display:block;" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xl-3 col-lg-3 text-right mb-2 custom-pl-none">
                                    <label asp-for="@Model.VideoFile">Video:</label>
                                </div>
                                <div class="col-lg-6 custom-pl-none">
                                    <div class="image-input image-input-empty image-input-outline  bg-video" id="kt_user_edit_avatar">
                                        <div class="input-group mb-3">
                                            <input asp-for="@Model.VideoFile" accept="video/mp4,video/x-m4v,video/*" class="form-control" />
                                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="@Model.VideoFile"></span>
                            </div>

                            <div class="form-group row">
                                <div class="col-xl-3 col-lg-3 text-right mb-2 custom-pl-none">
                                    <label asp-for="@Model.TrailerFile">Trailer:</label>
                                </div>
                                <div class="col-lg-6 custom-pl-none">
                                    <div class="image-input image-input-empty image-input-outline  bg-video" id="kt_user_edit_avatar">
                                        <div class="input-group mb-3">
                                            <input asp-for="@Model.TrailerFile" accept="video/mp4,video/x-m4v,video/*" class="form-control" />
                                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="@Model.TrailerFile"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 text-right col-form-label" asp-for="@Model.Title">Title:</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control form-control-lg form-control-solid" asp-for="@Model.Title" />
                                    <span class="form-text text-muted">If you want your invoices addressed to a company. Leave blank to use your title.</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="@Model.WriterIds" class="col-xl-3 col-lg-3 text-right selectTag">Select writer:</label>
                                <div class="col-lg-6">
                                    <select class="select2" multiple="multiple" asp-for="@Model.WriterIds">
                                        @foreach (var writer in ViewBag.Writers)
                                        {
                                            <option value="@writer.Id">@writer.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="@Model.CastIds" class="col-xl-3 col-lg-3 text-right selectTag">Select cast:</label>
                                <div class="col-lg-6">
                                    <select class="select2" multiple="multiple" asp-for="@Model.CastIds">
                                        @foreach (var cast in ViewBag.Casts)
                                        {
                                            <option value="@cast.Id">@cast.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="@Model.GenresIds" class="col-xl-3 col-lg-3 text-right selectTag">Select genre:</label>
                                <div class="col-lg-6">
                                    <select class="select2" multiple="multiple" asp-for="@Model.GenresIds">
                                        @foreach (var genre in ViewBag.Genres)
                                        {
                                            <option value="@genre.Id">@genre.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="@Model.DirectorId" class="col-xl-3 col-lg-3 text-right selectTag">Select Director:</label>
                                <div class="col-lg-6">
                                    <select class="form-select" asp-for="@Model.DirectorId">
                                        @foreach (var director in ViewBag.Directors)
                                        {
                                            <option value="@director.Id">@director.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 text-right" asp-for="@Model.Tagline">Tagline:</label>
                                <div class="col-lg-6">
                                    <input asp-for="@Model.Tagline" class="form-control" placeholder="Enter movie tagline" />
                                    <span asp-validation-for="@Model.Tagline" class="form-text text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 text-right col-form-label" asp-for="@Model.Description">Description:</label>
                                <div class="col-lg-9 col-xl-6">
                                    <textarea class="form-control form-control-lg form-control-solid" asp-for="@Model.Description" rows="5">
                                    </textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xl-4 col-lg-4 text-right">
                                    <button class="btn btn-warning ml-5" type="submit">Update</button>
                                </div>
                                <div class="col-xl-4 col-lg-4 text-right">
                                    <a class="btn btn-primary ml-5" asp-area="admin" asp-controller="Movie" asp-action="index">Cancel</a>
                                </div>
                            </div>

                            <input type="hidden" asp-for="@Model.Image" />
                            <input type="hidden" asp-for="@Model.Video" />
                            <input type="hidden" asp-for="@Model.Trailer" />
                        </form>
                    </div>
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>


